@page
@model TailwindSandbox.Pages.daisyUI.NavigationModel
@* BREADCRUMBS *@
<div class="container w-11/12 mx-auto mt-6">
    <p class="text-2xl">Breadcrumbs</p>
</div>
<div class="container w-10/12 mx-auto">
    <div class="text-sm breadcrumbs">
        <ul>
            <li><a>Home</a></li>
            <li><a>Documents</a></li>
            <li>Add Document</li>
        </ul>
    </div>
</div>

@* PAGINATION *@
<div class="container w-11/12 mx-auto mt-6">
    <p class="text-2xl">Pagination</p>
</div>
<div class="container w-10/12 mx-auto">
    <div class="btn-group">
        <button class="btn">1</button>
        <button class="btn btn-active">2</button>
        <button class="btn">3</button>
        <button class="btn">4</button>
    </div>
</div>

@* STEPS *@
<div class="container w-11/12 mx-auto mt-6">
    <p class="text-2xl">Steps</p>
</div>
<div class="container w-10/12 mx-auto">
    <ul class="steps">
        <li class="step step-primary">Register</li>
        <li class="step step-primary">Choose plan</li>
        <li class="step">Purchase</li>
        <li class="step">Receive Product</li>
    </ul>
</div>

@* TABS *@
<div class="container w-11/12 mx-auto my-6">
    <p class="text-2xl">Tabs</p>
</div>
<div class="container w-10/12 mx-auto">
    <div class="tabs mb-2">
        <a class="tab">Tab 1</a>
        <a class="tab tab-active">Tab 2</a>
        <a class="tab">Tab 3</a>
    </div>
    <div class="tabs mb-2">
        <a class="tab tab-bordered">Tab 1</a>
        <a class="tab tab-bordered tab-active">Tab 2</a>
        <a class="tab tab-bordered">Tab 3</a>
    </div>
    <div class="tabs mb-2">
        <a class="tab tab-lifted">Tab 1</a>
        <a class="tab tab-lifted tab-active">Tab 2</a>
        <a class="tab tab-lifted">Tab 3</a>
    </div>
    <div class="tabs tabs-boxed">
        <a class="tab">Tab 1</a>
        <a class="tab tab-active">Tab 2</a>
        <a class="tab">Tab 3</a>
    </div>
</div>