@page
@model TailwindSandbox.Pages.Tailwind.BoxShadowsModel
@* SHADOW SIZES *@
<div class="grid grid-cols-4 gap-2 w-8/12 mx-auto">
    <div class="border-2 border-solid p-4 shadow-2xl"></div>
    <div class="border-2 border-solid p-4 shadow-md"></div>
    <div class="border-2 border-solid p-4 shadow-lg"></div>
    <div class="border-2 border-solid p-4 shadow-xl"></div>
</div>

@* SHADOW COLORS *@
<div class="grid grid-cols-4 gap-2 w-8/12 mx-auto mt-10">
    <div class="border-2 border-solid p-4 shadow-md shadow-red-900"></div>
    <div class="border-2 border-solid p-4 shadow-lg shadow-red-900"></div>
    <div class="border-2 border-solid p-4 shadow-xl shadow-red-900"></div>
    <div class="border-2 border-solid p-4 shadow-2xl shadow-red-900"></div>
</div>