@page
@model TailwindSandbox.Pages.Tailwind.TextModel
@* FONT SIZE *@
<div class="container w-11/12 mx-auto">
    <p class="text-2xl">Font Size</p>
</div>
<div class="container w-11/12 mx-auto mt-3">
    <p class="text-xs">text-xs</p>
    <p class="text-sm">text-sm</p>
    <p class="text-lg">text-lg</p>
    <p class="text-xl">text-xl</p>
    <p class="text-2xl">text-2xl</p>
    <p class="text-9xl">text-9xl</p>
</div>

@* FONT WEIGHT *@
<div class="container w-11/12 mx-auto mt-3">
    <p class="text-2xl">Font Weight</p>
</div>
<div class="container w-11/12 mx-auto mt-3">
    <p class="font-thin">font-thin</p>
    <p class="font-extralight">font-extralight</p>
    <p class="font-light">font-light</p>
    <p class="font-semibold">font-semibold</p>
    <p class="font-bold">font-bold</p>
</div>

@* FONT COLOR *@
<div class="container w-11/12 mx-auto mt-3">
    <p class="text-2xl">Font Color</p>
</div>
<div class="container w-11/12 mx-auto mt-3">
    <p class="text-sky-400">font color</p>
    <p class="text-gray-200">font color</p>
</div>

@* TEXT ALIGN *@
<div class="container w-11/12 mx-auto mt-3">
    <p class="text-2xl">Text Align</p>
</div>
<div class="container w-11/12 mx-auto mt-3 mb-3">
    <p class="text-left">text-left</p>
    <p class="text-center">text-center</p>
    <p class="text-right">text-right</p>
</div>